:root {
    --primary-color: blue;
    --secondary-color: #dcba93;
    --background-color:#EEE8D3;
    --accent1-color: ;

    --heading-font: "BioRhyme", Arial, sans-serif;
    --paragraph-font: "Fira Sans", Arial, sans-serif;

    --nav-link-color: black;
    --nav-hover-background-color: white;

    --border: rgba(63, 57, 240, 0.996);
   
}

.biorhyme-headings {
    font-family: "BioRhyme", serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
.fira-sans-medium {
      font-family: "Fira Sans", serif;
      font-weight: 500;
      font-style: normal;
}

body {
    display: block;
    box-sizing: border-box;
    grid-template: auto 1fr auto / 1vw;
    min-width: 320px;
    width: auto;
    height: auto; 
    font-family: var(--paragraph-font, Arial, sans-serif);       
    font-size: 1.2em;
    margin: 0 auto;
    padding: 0;
    text-wrap: wrap;
    }

header {
    display: flex;    
    background-color: var(--primary-color);
    height: auto;
    color: white;
    align-content: center;
    justify-content: center;
    font-size: 2rem; 
    margin-bottom: 0;
    text-wrap: wrap;  
}

header picture {
    float: left;
    margin: auto 10px;
}

h1 {
    font-family: var(--heading-font, Arial, Helvetica, sans-serif);
    text-align: left;
    display: block;
    margin-left: 5px;  
}

main h1 {
    padding: 12%;
}

header span {
    display: block;
    font-size: large;
    font-weight: 500;
    padding: 0px;
    text-align: left;
}

#menu {    
    position: absolute;
    top: .5rem;
    right: .5rem;
	font-size: 3rem;
    text-align: center;
	font-weight:700;
	text-decoration: none;
	color: #000;
}

#menu::after {
	content: "≡";
}

.navigation li {
	list-style: none;
}

.navigation a, .selection a {
	display: block;
	padding: .8rem;	
	text-decoration: none;
    text-align: center;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.5rem;
}

.selection a {
    background-color: var(--primary-color);
    color: white;
    font-size: large;
    margin: 5px;
    border: 1px solid var(--border);
}

.navigation a:hover, .selection a:hover, .selection a.active {
	color: black;
	background-color: var(--nav-hover-background-color);
    border: 1px solid var(--border);
}

.navigation a.active {
    text-decoration: underline;
}

.navigation li {
	display: none;
}

.show li {
	display: inline-block;
    width: 100%;
    text-align: center;
}

span.show, img.show  {
    display: none;
}

#menu.show::after {
	content: "X";
    font-size: smaller;
}

main {
    display: grid;
    grid-template: auto 120px auto / auto;
    min-width: 320px;
    width: auto;
    align-items: center;
    background-color: #EEE8D3; 
    margin: 0 auto;
}

form {
    margin: 1rem 2%;
  
    label {
      display: block;
      font-size: .8rem;
      color: black;
      padding-top: .2rem;
    }

    h3 {
      font-size: 1rem;
      color: black;
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
    }
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: black;
      width: 250px;
    }
  
    input:required {border-left-color: red;}
    input:focus {border-left-color: black; outline:none;}
    input:required:valid{border-left-color: green;}
  
    button[type=submit] {
      width: 260px;
      font-family: var(--paragraph-font);
      font-weight: 600;
      border: 1px solid var(--border);
      text-align: center;
      background-color:var(--primary-color);
      color: white;
      border-radius: 6px;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }
  }
  input:-webkit-autofill{
    -webkit-text-fill-color: black;
  }
  
  #results {
    background-color: var(--secondary-color);
    padding: 0 1rem;
    border: 1px solid var(--border);
    border-radius: 6px;
  }

main .hero img {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

ul .selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

main nav {
    min-width: 300px;
    margin: 0 auto;
}

main ul.call {
    position: relative;
    list-style: none;
}

main ul.call a {
    position: absolute;
    top: 100px;
    right: 25px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    background-color: gold;
    color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 6px;
} 

main div {
    min-width: 300px;
    width: auto;
}

nav .selection li {
    display: block;
    width: 240px;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;    
}

ul .directory{
    display: flex;
    flex-direction:row;
    margin: 0 auto;
}

.directory li {
    list-style: none;
    width: 320px;
    text-wrap: wrap;
    padding: 10px;
    margin: 0;
}

.directory ul:nth-child(even) {
	background-color: rgb(65, 230, 175);
}

.directory ul:nth-child(odd) {
	background-color: rgb(255, 255, 255);
}


h2 {
    display: block;
    font-family: var(--heading-font, Arial, Helvetica, sans-serif);
    color: white;
    text-align: left;
    min-width: 300px;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}

main h2.business {
    color: black;
}

section .weather {
    display: flex;
    grid-template-columns: auto auto;
    grid-row: auto;
    min-width: 320px;
    width: auto;
}

section .weather figure, section .weather img {
    grid-column: 1;
    width: 120px;
    margin: 0;
    padding: 0;
    
}

section .weather ul {
    grid-column: 2;
    text-align: left;
    list-style: none;
}

section.forcast ul {
    text-align: left;
    list-style: none;
}

div .directory  {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

section {
    display: block;
    min-width: 310px;
    width: auto;
    height: auto;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
    border: 1px solid var(--border);
    border-radius: 6px;
}

main section.selected {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

main section.selected section.silver {
    background-color: silver;
}

main section.selected section.gold {
    background-color: gold;
}

section figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-size: smaller;
}

section h2 {
    background-color: var(--primary-color);
    text-align: center; 
    text-wrap: wrap;   
}

p {
    font: .8rem;
    padding: 5px;
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    background-color:var(--primary-color);
    color: white;
    text-align: center;
    font-weight: 900;
    padding: 5px;
}

footer p, footer nav {
    display: block;
    width: auto;
}

footer nav a{
    padding: 10px;
}

#lastModified, footer p {
    font-size: .9rem;
    color: white;
    text-align: left;
}