@media only screen and (min-width: 780px) {

    header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    header picture {
        display: inline-block;
        margin: 25px;
    }

    header h1 {
        display: inline-block;
        font-size: 2.5em;
    }

    span.show, img.show  {
        display: block;
    }

    header nav {
        display: inline-block;
        margin: auto;
        padding: 20px;
        align-content: end;
        justify-content: space-around;
    }

    header a {
        margin: 10px;
    }

    figcaption {
        font-size: large;
    }

    span {
        align-self: center;
    }

	.navigation {
		display: flex;
        justify-content: space-evenly;
	}

	.navigation li {
		display: flex;
		justify-content: space-evenly;
        padding: 0;
	}

	.navigation a {
		text-align: center;
	}

	#menu {
		display: none;
	}

    main {
        display: block;
        grid-template: 100px auto auto/ auto;
        align-items: center;
        padding: 10px;
    }

    main h2 {
        display: block;
        text-align: center;
        column-span: all;
        margin: 10px;
    }

    main nav .selection {
        display: flex;
        column-span: all;
        align-items: center;
        text-align: center;
    }

    h1 {
        font-family: var(--heading-font, Arial, Helvetica, sans-serif);
        text-align: left;
        min-width: 300px;
        width: 100%;
        height: 50px;
        padding: 0;
        margin: 0;
    }

    .directory ul {
        display: flex;
        flex-direction:row;
        margin: 0;
    }

    nav .selection {
        margin: 0 auto;
    }

    nav .selection li {
        margin: 20px;
    }

    main div .directory {
        display: flex;
        width: 100%;      
        flex-wrap: wrap;
    }

    main section.events {
        width: 48%;
    }
    
    main section.forecast, main section.weather {
        min-width: 300px;
        width: 24%;
    }

    section {  
        display: inline-block;
        text-align: center;     
        width: 280px;
        height: 420px;
        margin: 10px;
    }

    main section.selected {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}