
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

header {
    display: block;
    width: 1fr;
}

h1 {
    font-size: 3em;
    color: darkblue;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: darkblue;
}

section {
    display: inline-block;
    max-width: 360px;
    background-color: #eed883;
    margin: 10px;    
    border: 1px solid blue;
    border-radius: 6px;
}

footer {
    display: block;
    background-color: gold;
    height: 120px;
    font-size: 1.2em;
    align-content:space-around;
}